---
layout: post
title: "position 과 inline"
subtitle: "position - relative, absolute, fixed <br>inline, inline-block, block"
date: 2022-01-01 20:05:13 -0400
background: '/img/posts/02.jpg'
---

<h2 class="section-heading">position 속성</h2>

<p><strong>static</strong> : position 속성을 부여하지 않았을 때 가지는 디폴드 값.</p>

<p><strong>relative</strong> : 현재 위치에서 상대적인 offset 속성을 줄 수 있다.</p>

<p><strong>absolute</strong> : 부모 중에 static이 아닌 요소의 위치를 기준으로 상대적인 offset 속성을 줄 수 있다, 하지만 현재 위치가 변하는 것은 아니다.</p>

<p><strong>fixed</strong> : 브라우저에 대해서 위치를 잡는다. 스크롤에 영향을 받지 않고 고정된 위치를 가진다.</p>

<h4 class="section-heading">static</h2>
{% include codepen.html hash="KKXomoG" title="static" %}
<p>static은 position 속성을 부여하지 않았을 때 가지는 디폴드 값입니다.</p>

<h4 class="section-heading">relative</h2>
{% include codepen.html hash="QWqmvrB" title="relative" %}
<p>second의 position을 relative로 변경하고 아래로 10px 오른쪽으로 10px만큼 offset을 주었습니다.</p>

<h4 class="section-heading">absolute</h2>
{% include codepen.html hash="BawrRPY" title="absolute" %}
<p>absolute 속성을 주는 순간 z축이 변경되었고 이로 인해서 남은 빈 공간에 third가 채워져 들어갔습니다. 이 때 (x, y) 의 위치는 변하지 않았습니다</p>

<h4 class="section-heading">fixed</h2>
{% include codepen.html hash="poWLPxq" title="fixed" %}
<p>first에 fixed 속성을 주었습니다. 스크롤을 움직여도 똑같은 자리에 있는걸 확인할수 있습니다.</p>


<h2 class="section-heading">block</h2>
<p>block 속성은 inline 과는 달리 <b>한 줄에 나열되지 않고 그 자체로 한 줄을 완전히 차지한다.</b></p>
<p>block 속성을 가지고 있는 태그는 <b>기본적으로 너비 100%(width: 100%)속성을 가지고 있다.</b></p>
<p>화면의 가로 폭을 100%로 완전히 차지하기 때문에, 다음 요소가 양 옆으로 붙을 공간이 없어서 자연히 줄 넘김이 된다.</p>
{% include codepen.html hash="LYzdLEx" title="block" %}
<p>인라인 요소와 다르게 margin, width, height 속성을 정의하면 모두 적용된다.</p>
<h4>block 요소 종류</h2>
<p>address, article, aside, audio, blockquote, canvas, dd, div, dl, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, noscript, ol, output, p, pre, section, table, ul, video</p>




<h2 class="section-heading">inline</h2>
<p>inline 속성은 <b>줄을 바꾸지 않고 다른 요소와 함께 한 행에 위치하려는 성향이다.</b></p>
{% include codepen.html hash="qBPojEq" title="inline" %}
<p>width, height 속성이 적용되지 않는다.</p>
<p>margin-top, margin-bottom 속성이 적용되지 않는다 인라인 요소의 상, 하 여백은 margin이 아닌 line-height 속성에 의해 발생한다.</p>
<p>인라인 속성을 가진 태그끼리 연속으로 사용되는 경우에는 최소한의 간격을 유지하기 위해서 좌, 우에 약 5px 가량의 외부 여백(margin)이 자동으로 발생한다.</p>
<h4>inline 요소 종류</h2>
<p>a, abbr, acronym, b, bdo, big, br, button, cite, code, dfn, em, i, img, input, kbd, label, map, object, q, samp, small, script, select, span, strong, sub, sup, textarea, tt, var</p>




<h2 class="section-heading">inline-block</h2>
<p>inline-block 은 말그대로 inline의 특징과 block의 특징을 모두 가진 요소입니다.</p>
<p>inline 처럼 줄바꿈이 이루어지지 않는다.</p>
<p>block 처럼 width, height를 지정 할수 있다.</p>
{% include codepen.html hash="JjrLJoR" title="inline-block" %}
<p>block인 div를 사용했지만 divplay: inline-block을 적용하니 inline처럼 한 행에 위치한것을 볼수 있다.</p>